.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer{
  background: linear-gradient(#FFC75F, #FFC75F);
}

.winter{
  background: linear-gradient(#2C73D2, #008F7A)

}

.season-display.winter {
  color: #0089BA;
}
.season-display.summer {
  color: #FFF;
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}